.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.header-slider{margin-bottom: 30px;}
.product-slider{margin:0 auto; width: 99%;}
.product-slider .InfiniteCarouselSlide{width: 80%;}
.product-slider .InfiniteCarouselSlide img{width:80%}


.header__search span i {
  color: #000000;
  font-size: 19px;
  position: relative;
}
.htc__blog__details__wrap{margin-bottom: 20px;}
.error__logo{margin: 50px auto;}
.meanmenu-reveal {right: 0px; left: auto; text-align: center; text-indent: 0px; font-size: 18px;}
.none, .carousel-status, .mobile-menu-area{display: none;}

.shop__grid__view__wrap h4{height: 32px;}
.carousel .control-dots { top: 640px;}
.slide__container .carousel-slider{max-height: 680px;}

.product-quantity .plus, .product-quantity .minus{font-size: 18px; padding: 8px 4px; border: 1px solid #ccc;}
.wrapper li.old__prize{ color: #de4444; text-decoration: line-through; font-style: oblique;}
.scroll-header{background: #f5f5f5;}
.label-for-checkbox{margin-left: 10px;}
.contact-btn { margin: 32px 0 10px;}
.lost-container .col-lg-3, .lost-container .col-lg-4{ padding-left: 0;}
.contact-box input{padding: 0 15px;}
#mce-responses .response{display: none;}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media only screen and (max-width: 767px) {
  .mobile-menu-area{display: block;}
  .table-content table td.product-quantity input{width:30px}
}